# Ch1. 데이터 수집 작업

## sec1> 파일 수집

- 파일 종류
    - TXT
    - CSV
    - EXCEL

In [1]:
# txt 파일을 불러오기

data_path = "./data/data.txt"

f = open(data_path, "r")

while True:
    line = f.readline()
    if not line:
        break
    
    print(line)

f.close()

Data Collection

Python

Jupyter Notebook

Hello World

big data

In [4]:
# csv 파일 불러오기

import pandas as pd

data_path = "./data/data.csv"

df = pd.read_csv(data_path)
print(df)

  hello  world
0   big   data

In [13]:
# Iris 데이터 불러오기 및 저장하기(to_csv)

import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

# print(iris)
# df = pd.DataFrame(data=load_iris, columns=iris.feature_names)
print(type(iris.data))
print(iris.feature_names)

<class 'numpy.ndarray'>
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [15]:
# iris 데이터 DF화
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [17]:
# Iris DataFrame Save
# df.to_csv(file_path, sep, header, index=False)

file_path = "./data/iris.csv"

df.to_csv(file_path, index=False)

In [22]:
# Load excel file

import pandas as pd

file_path = "./data/data.xlsx"

df = pd.read_excel(file_path)

print(df)

   번호   이름
0   1  홍길동
1   2  김정미
2   3  김기정

In [5]:
# Save the Iris data _excel

import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

file_path = "./data/iris_data.xlsx"
sheet_name = "data_sheet"

iris_df.to_excel(excel_writer = file_path,
                sheet_name = sheet_name,
                index=False)

## 정리

- 지금까지 배운 내용은 text, csv, excel 파일에 대해 불러오기 및 저장하는 코드에 대해 살펴봤다.